body {
    background-color: #292725;
    margin: 20px;
    padding: 20px;
}

#scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E98333;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

#scroll-top-btn:hover {
    cursor: pointer;
    background-color: #555;
}

#go-back-btn {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E98333;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
}

#go-back-btn:hover {
    cursor: pointer;
    background-color: #555;
}

h1 {
    font-family: 'Yatra One', cursive;
    color: #E98333;
    font-size: 2.8em;
    margin-bottom: 20px;
    margin-top: 4px;
}

.container {
    display: flex;
    width: 66%;
    margin: 0 auto;
    background-color: rgba(233, 131, 51, 0.5);
    padding: 20px 50px;
    transition: transform .5s;
}

.image-box {
    width: 30%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 5px solid black;
}

.text-box {
    width: 60%;
    padding: 0 20px;
    color: white;
}

.container:hover {
    opacity: 1;
    transform: scale(1.1);
}

h2 {
    font-family: 'Alatsi', sans-serif;
    font-size: 2.5em;
}

p {
    font-family: 'Alef', sans-serif;
}