body {
    background-color: #292725;
    margin: 20px;
    padding: 20px;
}

#scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E98333;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

#scroll-top-btn:hover {
    cursor: pointer;
    background-color: #555;
}

#go-back-btn {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E98333;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
}

#go-back-btn:hover {
    cursor: pointer;
    background-color: #555;
}

h1 {
    font-family: 'Yatra One', cursive;
    color: #E98333;
    font-size: 2.8em;
    margin-bottom: 20px;
    margin-top: 4px;
    text-align: center;
}