body {
    background-color: #292725;
    margin: 20px;
    padding: 20px;
}

#scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E98333;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

#scroll-top-btn:hover {
    cursor: pointer;
    background-color: #555;
}

#go-back-btn {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E98333;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
}

#go-back-btn:hover {
    cursor: pointer;
    background-color: #555;
}

h1 {
    font-family: 'Yatra One', cursive;
    color: #E98333;
    font-size: 2.8em;
    margin-bottom: 20px;
    margin-top: 4px;
    text-align: center;
}

blockquote {
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Alef', sans-serif;
}

h2 {
    font-family: 'Alatsi', sans-serif;
    color: #E98333;
    text-align: center;
    font-size: 2em;
}

.place {
    font-family: 'Alatsi', sans-serif;
    color: white;
    text-align: center;
    margin-left: 10px;
    font-size: 1.8em;
}

.place2 {
    font-family: 'Alatsi', sans-serif;
    padding-left: 5px;
    color: white;
    text-align: left;
    font-size: 1.8em;
}

.image-container {
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 25%;
    height: auto;
    margin: 5px;
    object-fit: cover;
    transition: transform .5s;
    border: 2px solid #E98333;
}

.image:hover {
    transform: scale(1.1);
}

.container {
    font-family: 'Alef', sans-serif;
    padding: 5px;
    width: 90%;
    background-color: rgba(233, 131, 51, 0.2);
    margin: 0 auto;
}

li {
    color: white;
    font-size: 1.2em;
    line-height: 1.5;
}