body {
  background-color: #292725;
  margin: 20px;
  padding: 20px;
}

#scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E98333;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

#scroll-top-btn:hover {
  cursor: pointer;
  background-color: #555;
}

#go-back-btn {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E98333;
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
}

#go-back-btn:hover {
  cursor: pointer;
  background-color: #555;
}

h1 {
  font-family: 'Yatra One', cursive;
  color: #E98333;
  font-size: 2.8em;
  margin-bottom: 20px;
  margin-top: 4px;
}

h2 {
  font-family: 'Alatsi', sans-serif;
  color: WHITE;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: calc(23% - 20px);
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border: 5px ridge #E98333;
}

.divider {
  width: 80%;
  height: 2px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.box2 {
  background-color: #E98333;
  border: 1px solid #ccc;
  padding: 20px;
  width: 30%;
  word-wrap: break-word;
  overflow: hidden;
}

.box2 p {
  margin-top: -10px;
  text-align: center;
  font-family: 'Alatsi', sans-serif;
  font-size: 1.3em;
  color: white;
}

.box2 a {
  text-decoration: none;
}

.box a:hover+.box {
  background-color: rgb(0, 0, 0);
}